


body {

  background-image: linear-gradient(to right, #FF0000 ,#FFFC19);  
}

.titulo{
text-align: center;
  color: darkblue;
  font-size: 30px;
}

.empanada{
    border-radius: 20%;
    border: solid 8px;
    border-color: darkblue;
}

.escrito{
    font-family: 'Hanalei-Fill';
    width: 80%;
    color: black;
    display: block;
    font-size: 18px;
    
}
.empanadaB{
    
    display: flex;
    text-decoration: none;
    color: white;
    background: darkgreen;
    height: 40px ;
    width: 65px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
    padding: 18px 25px;
    margin-left: 20px;
    
}

#empanadas{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.titulo2{
    text-align: center;
      color: darkblue;
      font-size: 30px;
    }

.titulo3{
    text-align: center;
      color: darkblue;
      font-size: 30px;
    }

.titulo3{
    text-align: center;
      color: darkblue;
      font-size: 30px;
    }

.titulo4{
    text-align: center;
      color: darkblue;
      font-size: 30px;
    }

.titulo5{
    text-align: center;
      color: darkblue;
      font-size: 30px;
    }

.titulo6{
    text-align: center;
      color: darkblue;
      font-size: 30px;
    }

.titulo8{
    text-align: center;
      color: darkblue;
      font-size: 30px;
    }

